#tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: left;
  margin-bottom: 2px;
  overflow-x: scroll;
}

#tabs .sticker {
  min-width: 50px;
  width: 50px;
  max-width: 100%;
}

#picker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

#picker .sticker {
  border-radius: 8px;
  background-color: #f4f4f6;
}

#tabs .selected {
  border-radius: 8px;
  background-color: #e5e5ea;
}

#tabs .btn {
  border-radius: 8px;
  background-color: #e5e5ea;
}

.sticker {
  width: 100px;
  max-width: 22%;
  height: auto;
  padding: 1.6px;
  margin: 1.6px;
  cursor: pointer;
}
